/* ----- common ----- */
body {
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
iframe{
    
    margin: 15px auto;
}
a {
    color: white !important;
    text-decoration: none;
}

input[type="submit" i] {
    margin: 15px;
    width: 300px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background-color: rgb(45, 122, 247);
    cursor: pointer;
}

table {
    border: none !important;
    width: 65%;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
    font-size: 14px;

}

th {
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    color: white;
}

th,
td {
    border-radius: 8px;
    width: 130px;
}

li {
    list-style: none;
    margin-right: 14px;
}

/* ----- class ----- */
.container {
    color: black;
    width: 100%;
    margin: 0 auto;
}
.golink{
    color: black !important;
    font-size: 24px;
}
.golink:hover{
    transition: 2s;
    font-size: 30px;
}
.mediaGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(206, 206, 206);
}

.headerImg {
    transform: rotate(-135deg);
}

.headerImg:hover {
    transform: rotate(225deg);
    transition: 3s;
}

.footer {
    width: 100%;
    bottom: 0;
    position: sticky;
    border-top: 1px solid rgb(192, 192, 192);
    background-color: white;
    z-index: 999;
}

.btn1 {
    color: white;
    margin: 15px;
    border: none;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(45, 122, 247);
    cursor: pointer;
}

.btn1:active {
    color: rgb(159, 159, 159);
    background-color: rgb(32, 86, 172);
}

.mainBtn {
    color: white;
    margin: 15px;
    border: none;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(0, 227, 11);
    cursor: pointer;
}

.mainBtn:active {
    color: rgb(159, 159, 159);
    background-color: rgb(67, 175, 72);
}

.viewBtn {
    color: white;
    margin: 15px;
    border: none;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(251, 71, 71);
    cursor: pointer;
}

.viewBtn:active {
    color: rgb(159, 159, 159);
    background-color: rgb(164, 63, 63);
}

.formContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formName {
    font-weight: bold;
    width: 65px;
    text-align: start;
    margin-right: 15px;
}

#check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formValue input {
    height: 30px;
    width: 200px;
}

select {
    height: 30px;
    width: 208px;
}

.error {
    display: block;
    padding: 10px;
    color: rgb(255, 65, 65) !important;
    font-size: 15px;
    transition: 1;
    border-radius: 8px;
}

.hello {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
    margin: 0px 0px 120px 0px;
    /* transform-origin: 30% 0%;
    animation-name: shake;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s; */
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(40deg);
    }

    20% {
        transform: rotate(-40deg);
    }

    30% {
        transform: rotate(28deg);
    }

    40% {
        transform: rotate(-28deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.submit {
    width: 0px;
    height: 0px;
    padding: 0px;
}

.info {
    color: red;
    font-size: 14px;

}

.info:before {
    content: '❗️';
}

.modifyBtn {
    cursor: pointer;
    border: none;
    background-color: rgb(177, 177, 177);
    color: white !important;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

.modifyBtn:active {
    background-color: rgb(78, 78, 78);
}

/* ----- id -----  */

#output {
    width: 500px;
    height: 300px;
    border: 0.5px solid rgb(127, 127, 127);
    transition: all 0.2s linear;
    background-color: white;
}

#output:hover {
    transform: scale(1.2);
}