<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('crud.static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
    <a href="/crud" style="width: 40px; height: 40px;">
        <img class="headerImg" style="width: 80px; height: 80px; margin: 5px;" src="{{url_for('crud.static', filename='headerImg.png')}}"/>
    </a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- <div class="footer">
        Footer
    </div> -->
</body>

</html>