{% extends "crud/base.html" %}
{% block title %} MODIFY&DELETE {% endblock %}
{% block content %}
<form action="{{ url_for('crud.editWorkOut', workout_id=workout.id )}}" method="POST" novalidate="novalidate">
    {{ form.csrf_token }}
    <h2>Modify & Delete</h2>
    <p>
    <div class="formContainer">
        <div class="formName">{{ form.check.label }}</div>
        <br />{{ form.check(placeholder="운동종류") }}
        <p class="info">기능 미구현으로 아무거나 체크</p>
    </div>
    </p>
    <img id="output" alt="" src="" />
    <div class="formContainer">
        <div class="formName">{{ form.exName.label }}</div>
        <div class="formValue" id="formValue">{{ form.exName(placeholder="운동이름") }}</div>
    </div>
    </p>
    <p>
    <div class="formContainer">
        <div class="formName">{{ form.weight.label }}</div>
        <div class="formValue">{{ form.weight(placeholder="중량") }}</div>
    </div>
    <p class="info">중량이 없을시 1로 입력</p>
    </p>
    <p>
    <div class="formContainer">
        <span class="formName">{{ form.repeat.label }}</span>
        <div class="formValue">{{ form.repeat(placeholder="반복수") }}</div>
    </div>
    </p>
    <p>
    <div class="formContainer">
        <div class="formName">{{ form.setRp.label }}</div>
        <div class="formValue">{{ form.setRp(placeholder="세트수") }}</div>
    </div>
    </p>
    <p>
    <div class="formContainer">
        <div class="formName">{{ form.text.label }}</div>
        <div class="formValue">{{ form.text(placeholder="특이사항") }}</div>
    </div>
    </p>
    <span class="error">
        {% for error in form.check.errors %}
        필수 확인 사항 :
        {{ error }}
        {% endfor %}
        {% for error in form.exName.errors %}
        {{ error }}
        {% endfor %}
        {% for error in form.weight.errors %}
        {{ error }}
        {% endfor %}
        {% for error in form.repeat.errors %}
        {{ error }}
        {% endfor %}
        {% for error in form.setRp.errors %}
        {{ error }}
        {% endfor %}
        {% for error in form.text.errors %}
        {{ error }}
        {% endfor %}
    </span>
    <div style="margin-top: 20px;">
        <input type="submit" value="갱신" onclick="Modify()" />
        <form action="{{ url_for('crud.deleteWorkOut', workout_id=workout.id)}}" method="POST">
            <button class="viewBtn" style="color: white;" type="submit" onclick="Delete()"
                formaction="{{ url_for('crud.deleteWorkOut', workout_id=workout.id)}}" method="POST">삭제</button>
        </form>
        <button class="mainBtn">
            <a href="/crud">메인으로</a>
        </button>
    </div>
</form>
<script>
    const selectBox = document.querySelector("#exName");
    const output = document.querySelector('#output');
    const selectedOption = selectBox.options[selectBox.selectedIndex];
    const value = selectedOption.value;

    selectBox.addEventListener('change', () => {
        const value = selectBox.options[selectBox.selectedIndex].value;
        // output.textContent = value;
        console.log(value, output);
        if (value == "데드리프트") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2021/03/Barbell-sumo-Romanian-deadlift.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "레그 레이즈") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2017/06/lying-straight-leg-raise-resized.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "레그 프레스") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2016/05/Sled-45-degree-Leg-Press-resized.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "벤치 프레스") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2021/04/Wide-reverse-grip-barbell-bench-press.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "사이드 래터럴 레이즈") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2016/05/dumbbell-lateral-raise-resized.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "스쿼트") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2017/05/barbell-sumo-squat-resized-new.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "풀 업") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2021/10/Mixed-grip-pull-up.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "푸시업") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2016/10/push-up-tall-resized.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
        else if (value == "런지") {
            output.src = 'https://cdn-0.weighttraining.guide/wp-content/uploads/2022/09/Rear-lunge.png?ezimgfmt=ng%3Awebp%2Fngcb4';
        }
    });

    function Modify() {
        if (confirm("수정하시겠습니까?")) {
            alert("정상적으로 수정되었습니다.");
        } else {
            alert("수정을 취소합니다.");
        }
    }
    
    function Delete(){
        if(confirm("삭제하시겠습니까?")){
            alert("정상적으로 삭제되었습니다.")
        }else{
            alert("삭제를 취소합니다.")
        }
    }

</script>
{% endblock %}