{% extends "crud/base.html" %}
{% block title %} MAIN {% endblock %}
{% block content %}

<div class="mediaGroup">

    <div>
        <h1>💪🏻 오늘도 운동 완료! 🔥</h1>
        <img class="hello" src="{{url_for('crud.static', filename='hello.png')}}" />
    </div>
    <div>
        <h1> 운동 자세가 궁금하다면 🤔❓</h1>
        <a class="golink" href="https://weighttraining.guide/">
            GO Training Guide
        </a>
        <img class="hello" />
    </div>
</div>
<hr />
<h2> 🎧 운동하면서 듣는 신나는 노래 추천 🎶 </h2>
<div class="recommend">
    <div class="mediaGroup">
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/jOTfBlKSQYY?si=3Q-s96YhPrio05FP"
            title="YouTube video player" frameborder="0.5"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <hr />
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/x-Om0G8Dwis?si=2lobC12Tt07edcaK"
            title="YouTube video player" frameborder="0.5"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <hr />
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/D8VEhcPeSlc?si=uetTtSv33wUQBG0D"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</div>
<hr />
<h2> 🚫 다치치 않고 운동하기 🧑🏻‍🏫 </h2>
<div class="recommend">
    <div class="mediaGroup">
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/5IBhz4c2D4o?si=ejpVko5VABt-vEsM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/xafGrKukwgA?si=ReY_UJmO-4yrpRYY"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
        <iframe width="560px" height="315px" src="https://www.youtube.com/embed/LiSNdTRqo0k?si=ZCD0u9m4_c6e8A7h"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<hr />
<div class="footer">
    <a href="{{ url_for('crud.createWorkOut') }}">
        <button class="btn1">
            운동기록하기
        </button>
    </a>
    <a href="{{ url_for('crud.workoutMemo')}}">
        <button class="viewBtn">
            운동기록보기
        </button>
    </a>
</div>
{% endblock %}