{% extends "crud/base.html" %}
{% block title %} HISTORY {% endblock %}
{% block content %}
<h2>My Workout History 🏃🏻</h2>
<table style="margin-top: 60px; height: 100%;">
    <tr>
        <th>저장 ID</th>
        <th>운동명</th>
        <th>중량</th>
        <th>반복수</th>
        <th>세트수</th>
        <th style="width: 160px;">
            총 중량
            <br />
            <span style="font-size: 10px;">
                중량 X 반복수 X 세트수
            </span>
        </th>
        <th>운동날짜</th>
        <th>특이사항</th>
        <th>-</th>
    </tr>
    {% for workouts in workout %}
    <tr>
        <td>{{ workouts.id }}</td>
        <td style="width: 200px;">{{ workouts.exName }}</td>
        <td>{{ workouts.weight }}kg</td>
        <td>{{ workouts.repeat }}회</td>
        <td>{{ workouts.setRp }}회</td>
        <td style="font-weight: bold; font-size: 16px;">{{ workouts.weight * workouts.repeat * workouts.setRp }}kg<br />
            <span style="font-size: 12px; color: red;">
                {{ workouts.weight }} X {{ workouts.repeat }} X {{ workouts.setRp }}
            </span>
        </td>
        <td>{{ workouts.createDate }}</td>
        <td>{{ workouts.text }}</td>
        <td style="width: 80px;">
            <a href="{{ url_for('crud.editWorkOut', workout_id=workouts.id)}}">
                <button class="modifyBtn"> 수정</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="footer">
    <a href="{{ url_for('crud.createWorkOut') }}">
        <button class="btn1">
            새 기록
        </button>
    </a>
    <a href="/crud">
        <button class="mainBtn">
            메인으로
        </button>
    </a>
</div>
{% endblock %}